<secion class="ratings-section">
    <!-- TOOL CONTAINER -->
    {{#each tools as |tool|}} <!-- Loop through each tool in the array -->
        <section class="tool-container">
            <div class="container-fluid mt-2 p-2 bg-light-blue" onclick="toggleDropdown(this)">
                {{!-- Tool Card Heading Container --}}
                <div class="row align-items-center">
                    {{!-- Tool name & rate button --}}
                    <div class="d-flex align-items-center col-sm-3 col-md-6">
                        {{#if ../loggedIn}}
                            <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#rateModal" data-tool-name="{{tool.name}}" data-tool-id="{{tool.id}}">rate</button>
                        {{else}}
                            <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#signupModal">rate</button>
                        {{/if}}
                        <div style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">
                            <h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">{{tool.name}}</h3>
                        </div>
                    </div>

                    <div class="stars-container">
                        {{{renderStars tool.overall_rating}}}
                        <small>({{roundToTenth tool.overall_rating}} out of 5)</small>
                    </div>

                </div>

                <div class="d-flex align-items-center justify-content-around">
                    {{#each tool.top_characteristics}}
                        {{#if this.rating}}
                        <div class="top-char" class="text-right " style="color:#ffee90";>{{this.name}}: {{roundToTenth this.rating}}</div>
                        {{else}}
                        <div class="top-char" class="text-right " style="color:#ffee90";>{{this.name}}: —</div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
    
            <div class="comments-dropdown bg-grey p-3 d-none char-grid">
                {{#each tool.characteristics}}
                    {{> toolCharacteristic this}}
                {{/each}}
            </div>

            <!-- TOOL BOX DROP DOWN -->
            
            <div class="top-reviews-container" data-tool-id="{{tool.id}}">
                {{#each tool.top_reviews}}
                    {{> toolReview this}}
                {{/each}}
            </div>
            
            <div class="reviews-container" data-tool-id="{{tool.id}}">
                {{#each tool.reviews}}
                    {{> toolReview this}}
                {{/each}}
            </div>
                    <!-- See More Comments Link -->
            <div class="text-center">
                <button class="seeAllReviewsBtn" data-tool-id="{{tool.id}}">See all reviews</button>
            </div>



{{!-- <style>
.review.hidden {
    display: none;
}
</style> --}}
        </section>
    {{/each}}

</section>

{{> rateModal characteristics}}